CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="TL_C50-V4"
CONFIG_FIRMWARE_WIFI2_DRIVER=4.0
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0
CONFIG_FIRMWARE_ENABLE_IPV6=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y
CONFIG_FIRMWARE_INCLUDE_AMNEZIAWG=y
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_ENABLE_DNSMASQ_REGEX=y

CONFIG_FIRMWARE_INCLUDE_ZAPRET=y
CONFIG_FIRMWARE_INCLUDE_ZAPRET2=y
CONFIG_FIRMWARE_INCLUDE_LUA=y
CONFIG_FIRMWARE_INCLUDE_ZRAM=y
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

#CONFIG_FIRMWARE_INCLUDE_DOH=y
#CONFIG_FIRMWARE_INCLUDE_STUBBY=y
#CONFIG_FIRMWARE_INCLUDE_IPERF3=y
#CONFIG_FIRMWARE_INCLUDE_CURL=y
#CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSH=y
#CONFIG_FIRMWARE_INCLUDE_HTTPS=y
#CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
#СONFIG_FIRMWARE_INCLUDE_WPAD=y
#CONFIG_FIRMWARE_INCLUDE_REDSOCKS2=y

#CONFIG_FIRMWARE_INCLUDE_WIREGUARD=y
#CONFIG_FIRMWARE_INCLUDE_DNSCRYPT=y
#CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
#CONFIG_FIRMWARE_INCLUDE_SSWAN=y
#CONFIG_FIRMWARE_INCLUDE_TOR=y
#CONFIG_FIRMWARE_INCLUDE_TOR_GEOIP=y
#CONFIG_FIRMWARE_INCLUDE_TOR_GEOIPV6=y
#CONFIG_FIRMWARE_INCLUDE_SFTP=y
#CONFIG_FIRMWARE_INCLUDE_PRIVOXY=y
#CONFIG_FIRMWARE_INCLUDE_EOIP=y
#CONFIG_FIRMWARE_INCLUDE_NFSC=y
#CONFIG_FIRMWARE_INCLUDE_CIFS=y
#CONFIG_FIRMWARE_INCLUDE_SSREDIR=y
#CONFIG_FIRMWARE_INCLUDE_SSLOCAL=y
#CONFIG_FIRMWARE_INCLUDE_ZEROTIER=y
#CONFIG_FIRMWARE_INCLUDE_ADB=y

#CONFIG_FIRMWARE_CPU_SLEEP=y
#CONFIG_FIRMWARE_INCLUDE_XFRM=y
#CONFIG_FIRMWARE_ENABLE_FUSE=y
#CONFIG_FIRMWARE_INCLUDE_QOS=y
#CONFIG_FIRMWARE_INCLUDE_IMQ=y
#CONFIG_FIRMWARE_INCLUDE_IFB=y
#CONFIG_FIRMWARE_ENABLE_BACKPORTED=y
#CONFIG_FIRMWARE_INCLUDE_BACKPORTED=y
#CONFIG_FIRMWARE_INCLUDE_VENDOR_LOGO=y
#CONFIG_FIRMWARE_INCLUDE_RPL2TP=y
#CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
#CONFIG_FIRMWARE_INCLUDE_XUPNPD=y
#CONFIG_FIRMWARE_INCLUDE_QUIC=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_10=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_11=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_35=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y
#CONFIG_FIRMWARE_INCLUDE_QRENCODE=y
